<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <style>
    /* Email styles need to be inline */
  </style>
</head>

<body>
<h1>Sample App</h1>
<p>Hi <%= @users.name %>,</p>
<p>
  Welcome to the Sample App! Click on the link below to activate your account:
</p>
<%= link_to "Activate", edit_account_activation_url(@users.activation_token,
                                                    email: @users.email) %>

</body>
</html>
