<% @users ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@users) %>">
    <strong id="following" class="stat">
      <!--我关注的人数-->
      <%= @users.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@users) %>">
    <strong id="followers" class="stat">
      <!--关注我的人数-->
      <%= @users.followers.count %>
    </strong>
    followers
  </a>
</div>